In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
vacc_file = 'vaccinationsdata.csv'
vacc_df = pd.read_csv(vacc_file)
vacc_df.head()

,Date,MMWR_week,Location,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer,Distributed_Unk_Manuf,Dist_Per_100K,Distributed_Per_100k_12Plus,...,Administered_Dose1_Recip_5PlusPop_Pct,Series_Complete_5Plus,Series_Complete_5PlusPop_Pct,Administered_5Plus,Admin_Per_100k_5Plus,Distributed_Per_100k_5Plus,Series_Complete_Moderna_5Plus,Series_Complete_Pfizer_5Plus,Series_Complete_Janssen_5Plus,Series_Complete_Unk_Manuf_5Plus
0,01/21/2022,3,LA,7467120,318200,2957620,4191300,0,160625,190327,...,63.2,2390208.0,55.0,5865724.0,134927.0,171764.0,939747.0,1274979.0,174438.0,1044.0
1,01/21/2022,3,WA,16011165,734100,5776120,9500945,0,210261,246291,...,83.1,5298973.0,74.0,13190008.0,184259.0,223669.0,1853801.0,2999674.0,442148.0,3350.0
2,01/21/2022,3,CO,11371385,481900,4205300,6684185,0,197463,230374,...,81.6,3904471.0,72.0,9921557.0,182834.0,209551.0,1404341.0,2192272.0,305529.0,2329.0
3,01/21/2022,3,NV,5402390,255200,1851080,3296110,0,175393,206056,...,76.9,1786275.0,61.7,4525049.0,156328.0,186638.0,589391.0,1027647.0,169180.0,57.0
4,01/21/2022,3,HI,3148920,123800,1160860,1864260,0,222401,260003,...,89.7,1068153.0,80.3,2666120.0,200362.0,236645.0,357326.0,647324.0,63486.0,17.0

In [3]:
vacc_cols = ["Date", "Location", "Administered"]
vacc_chng = vacc_df[vacc_cols].copy()

vacc_chng = vacc_chng.rename(columns={"Location": "State"})

vacc_chng.head()

         Date State  Administered
0  01/21/2022    LA       5866023
1  01/21/2022    WA      13190985
2  01/21/2022    CO       9922591
3  01/21/2022    NV       4525127
4  01/21/2022    HI       2666683

In [4]:
vacc_amnd = vacc_chng.loc[(vacc_chng['State'] == 'CA') |
                          (vacc_chng['State'] == 'NV') |
                          (vacc_chng['State'] == 'UT') |
                          (vacc_chng['State'] == 'AZ')]

vacc_amnd.head()

          Date State  Administered
3   01/21/2022    NV       4525127
5   01/21/2022    CA      69706872
42  01/21/2022    UT       4699376
53  01/21/2022    AZ      10994834
79  01/20/2022    CA      69549938

In [5]:
vacc_amnd.loc[(vacc_amnd['State'] == 'CA') |
             (vacc_amnd['State'] == 'NV') |
             (vacc_amnd['State'] == 'UT') |
             (vacc_amnd['State'] == 'AZ'), ['State']] = 'SW'

vacc_amnd

/opt/anaconda3/envs/pythondata/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

             Date State  Administered
3      01/21/2022    SW       4525127
5      01/21/2022    SW      69706872
42     01/21/2022    SW       4699376
53     01/21/2022    SW      10994834
79     01/20/2022    SW      69549938
...           ...   ...           ...
26065  12/15/2020    SW             0
26079  12/14/2020    SW             0
26082  12/14/2020    SW             0
26118  12/14/2020    SW             0
26125  12/14/2020    SW             0

[1616 rows x 3 columns]

In [9]:
vacc_amnd['Date'] = pd.to_datetime(vacc_amnd['Date'])
vacc_date = vacc_amnd.groupby('Date').sum()
vacc_date.sort_values(by='Date')
vacc_date.reset_index()

/opt/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          Date  Administered
0   2020-12-14             0
1   2020-12-15             0
2   2020-12-16           177
3   2020-12-17          1051
4   2020-12-18          2246
..         ...           ...
399 2022-01-17      89069347
400 2022-01-18      89170365
401 2022-01-19      89328007
402 2022-01-20      89737678
403 2022-01-21      89926209

[404 rows x 2 columns]

In [10]:
connection_string = "postgres:postgres@localhost:5433/Covid_Vacc"
engine = create_engine(f'postgresql://{connection_string}')

In [11]:
vacc_date.to_sql(name='premise', con=engine)